<div class="bd-main-container">
  <div class="bd-sub-sidebar">
    <div class="sub-sidebar-title">
      <b>关于我们</b>
    </div>
    <div>
      <ul class="nav nav-pills nav-stacked bd-sub-siderbar-ul">
        <li role="presentation" class="active"><a ui-sref="brief">公司简介</a></li>
        <li role="presentation"><a ui-sref="values">公司资质</a></li>
        <li role="presentation"><a ui-sref="important-date">公司价值观</a></li>
      </ul>
    </div>
  </div>
  <div class="bd-sub-content">
    <div class="container-fluid" ng-controller="BriefCtrl">
      <!-- title -->
      <div class="dashboard-title clearfix">
        <div class="pull-left">
          <h5 class="content-title">公司本部</h5></div>
      </div>
      <!-- content -->
      <!-- <div class="alert alert-success" role="alert"><b>注意：</b>为了保证轮播中文字显示清晰，图片请选用浅色调！</div> -->
      <form class="form-horizontal" id="briefForm" name="briefForm" novalidate role="form" ng-submit="updateBrief()">
        <div class="form-group">
          <label class="col-sm-1 control-label">
            <span class="text-danger">*</span>
            <span>公司简介</span>
          </label>
          <div class="col-sm-5" ng-class="{'has-success has-feedback':briefForm.brief.$valid,'has-error has-feedback':briefForm.brief.$invalid&&briefForm.brief.$dirty}">
            <input type="hidden" ng-model="_id">
            <textarea class="form-control" rows="10" placeholder="请输入公司简介" name="brief" ng-model="brief" required></textarea>
            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-warning-sign':briefForm.brief.$invalid&&briefForm.brief.$dirty,'glyphicon-ok':briefForm.brief.$valid}"></span>
            <span class="help-block bd-red" ng-show="briefForm.brief.$error.required&&briefForm.brief.$dirty">公司简介为必填项！</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">
            <span class="text-danger">*</span>
            <span>图片</span>
          </label>
          <div class="col-sm-3">
            <!-- <input type="file" placeholder="请输入地址" name="file" ng-model="file" ng-change="uploadFile()" required> -->
            <div ngf-drop ngf-select ng-model="file" class="drop-box" ngf-drag-over-class="'dragover'" editor="editor" ngf-multiple="false" ngf-allow-dir="true" ngf-pattern="'image/*'">
              <span ng-if="!url">拖动文件到这里或者点击上传</span>
              <div ng-if="!!previewUrl">
                <img ng-src="{{previewUrl}}" alt="" class="img-responsive">
              </div>
            </div>
            <input type="hidden" name="url" ng-model="url" required />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3 col-sm-offset-1">
            <button type="submit" class="btn btn-primary" ng-disabled="briefForm.$invalid" ng-bind="btn"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
