<!-- Add Administrator Modal -->
<div class="container-fluid" ng-controller="UpdateProductCategoryCtrl">
  <!-- title -->
  <div class="dashboard-title clearfix">
    <div class="pull-left">
      <h5 class="content-title">修改产品分类</h5>
    </div>
  </div>
  <!-- tips -->
  <!-- <div class="alert alert-success" role="alert"><b>提醒：</b><span>如需要重置管理员密码，请使用<a ui-sref="resetPassword({username:username})">重置密码</a>功能</span></div> -->
  <!-- content -->
  <form class="form-horizontal" id="saveProductCategoryForm" name="saveProductCategoryForm" novalidate role="form" ng-submit="save()">
    <div class="form-group">
      <label class="col-sm-1 control-label">
        <span class="text-danger">*</span>
        <span>名称</span>
      </label>
      <div class="col-sm-3" ng-class="{'has-success has-feedback':saveProductCategoryForm.name.$valid,'has-error has-feedback':saveProductCategoryForm.name.$invalid&&saveProductCategoryForm.name.$dirty}">
        <input type="text" class="form-control" placeholder="请输入应用领域名称" name="name" ng-model="name" required>
        <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-warning-sign':saveProductCategoryForm.name.$invalid&&saveProductCategoryForm.name.$dirty,'glyphicon-ok':saveProductCategoryForm.name.$valid}"></span>
        <span class="help-block bd-red" ng-show="saveProductCategoryForm.name.$error.required&&saveProductCategoryForm.name.$dirty">名称为必填项！</span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3 col-sm-offset-1">
        <button type="submit" class="btn btn-primary" ng-disabled="saveProductCategoryForm.$invalid&&saveProductCategoryForm">提交</button>
      </div>
    </div>
  </form>
</div>
