<!-- Add Administrator Modal -->
<div class="container-fluid" ng-controller="ModifyAdministratorCtrl">
  <!-- title -->
  <div class="dashboard-title clearfix">
    <div class="pull-left">
      <h5 class="content-title">修改管理员账号</h5>
    </div>
  </div>
  <!-- tips -->
  <div class="alert alert-success" role="alert"><b>提醒：</b><span>如需要重置管理员密码，请使用<a ui-sref="resetPassword({username:username})">重置密码</a>功能</span></div>
  <!-- content -->
  <form class="form-horizontal" id="addAdministratorForm" name="addAdministratorForm" novalidate role="form" ng-submit="modifyAdmin()">
    <div class="form-group">
      <label class="col-sm-1 control-label">
        <span class="text-danger">*</span>
        <span>角色</span>
      </label>
      <div class="col-sm-9">
        <select class="form-control bd-category-select pull-left" ng-model='role' required ng-options='role.value as role.name for role in roles'></select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label">
        <span class="text-danger">*</span>
        <span>姓名</span>
      </label>
      <div class="col-sm-3" ng-class="{'has-success has-feedback':addAdministratorForm.name.$valid,'has-error has-feedback':addAdministratorForm.name.$invalid&&addAdministratorForm.name.$dirty}">
        <input type="hidden" name="_id" ng-model="_id" />
        <input type="text" class="form-control" placeholder="请输入管理员姓名" name="name" ng-model="name" required>
        <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-warning-sign':addAdministratorForm.name.$invalid&&addAdministratorForm.name.$dirty,'glyphicon-ok':addAdministratorForm.name.$valid}"></span>
        <span class="help-block bd-red" ng-show="addAdministratorForm.name.$error.required&&addAdministratorForm.name.$dirty">姓名为必填项！</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label">
        <span class="text-danger">*</span>
        <span>账号</span>
      </label>
      <div class="col-sm-3" ng-class="{'has-success has-feedback':addAdministratorForm.username.$valid&&!occupied,'has-error has-feedback':(addAdministratorForm.username.$invalid||occupied||bdValid.name==='username')&&addAdministratorForm.username.$dirty}">
        <input type="email" class="form-control" placeholder="请输入登录账号" name="username" ng-pattern="emailFormat" ng-model="username" required>
        <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-warning-sign':(addAdministratorForm.username.$invalid||occupied||bdValid.name==='username')&&addAdministratorForm.username.$dirty,'glyphicon-ok':addAdministratorForm.username.$valid&&!occupied}"></span>
        <span class="help-block bd-red" ng-show="addAdministratorForm.username.$error.required&&addAdministratorForm.username.$dirty">账号为必填项！</span>
        <span class="help-block bd-red" ng-show="addAdministratorForm.username.$error.pattern&&addAdministratorForm.username.$dirty">账号必须为邮箱格式！</span>
        <span class="help-block bd-red" ng-show="occupied">账号被占用！</span>
        <span class="help-block bd-red" ng-show="bdValid.name==='username'" ng-bind="bdValid.msg"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label">
        <span>联系电话</span>
      </label>
      <div class="col-sm-3">
        <input type="text" class="form-control" placeholder="请输入联系电话" name="phone" ng-model="phone">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-3 col-sm-offset-1">
        <button type="submit" class="btn btn-primary" ng-disabled="addAdministratorForm.$invalid&&addAdministratorForm">提交</button>
      </div>
    </div>
  </form>
</div>
