<!-- Add Administrator Modal -->
<div class="container-fluid" ng-controller="ResetPasswordCtrl">
  <!-- title -->
  <div class="dashboard-title clearfix">
    <div class="pull-left">
      <h5 class="content-title">重置管理员密码</h5>
    </div>
  </div>
  <!-- tips -->
  <div class="alert alert-success" ng-if="!hideTip" role="alert"><b>提醒：</b><span>密码重置成功后请通知该管理员并提醒首次登录时修改密码！</span></div>
  <!-- content -->
  <form class="form-horizontal" id="addAdministratorForm" name="addAdministratorForm" novalidate role="form" ng-submit="resetPassword()">
    <div class="form-group">
      <label class="col-sm-1 control-label">
        <span>姓名</span>
      </label>
      <div class="col-sm-3">
        <input type="hidden" name="_id" ng-model="_id" />
        <input type="text" class="form-control" name="name" ng-model="name" disabled>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label">
        <span class="text-danger">*</span>
        <span>密码</span>
      </label>
      <div class="col-sm-3" ng-class="{'has-success has-feedback':addAdministratorForm.password.$valid,'has-error has-feedback':addAdministratorForm.password.$invalid&&addAdministratorForm.password.$dirty}">
        <input type="password" ng-minlength="6" keydown-enter="addAdmin()" class="form-control" placeholder="请输入新密码" name="password" ng-model="password" id="password" required>
        <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-warning-sign':addAdministratorForm.password.$invalid&&addAdministratorForm.password.$dirty,'glyphicon-ok':addAdministratorForm.password.$valid}"></span>
        <span class="help-block bd-red" ng-show="addAdministratorForm.password.$error.required&&addAdministratorForm.password.$dirty">密码不能为空！</span>
        <span class="help-block bd-red" ng-show="addAdministratorForm.password.$error.minlength&&addAdministratorForm.password.$dirty">密码长度不能小于6位！</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label">
        <span class="text-danger">*</span>
        <span>确认密码</span>
      </label>
      <div class="col-sm-3" ng-class="{'has-success has-feedback':addAdministratorForm.passwordConfirm.$valid,'has-error has-feedback':addAdministratorForm.passwordConfirm.$invalid&&addAdministratorForm.passwordConfirm.$dirty}">
        <input type="password" ng-minlength="6" keydown-enter="addAdmin()" class="form-control" placeholder="请确认新密码" name="passwordConfirm" ng-model="passwordConfirm" id="passwordConfirm" bd-pw-check="password" required>
        <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-warning-sign':addAdministratorForm.passwordConfirm.$invalid&&addAdministratorForm.passwordConfirm.$dirty,'glyphicon-ok':addAdministratorForm.passwordConfirm.$valid}"></span>
        <span class="help-block bd-red" ng-show="addAdministratorForm.passwordConfirm.$error.required&&addAdministratorForm.passwordConfirm.$dirty">确认密码不能为空！</span>
        <span class="help-block bd-red" ng-show="addAdministratorForm.passwordConfirm.$dirty&&addAdministratorForm.passwordConfirm.$error.pwmatch&&!addAdministratorForm.passwordConfirm.$error.minlength&&!addAdministratorForm.passwordConfirm.$error.required">两次密码输入不一致！</span>
        <span class="help-block bd-red" ng-show="addAdministratorForm.passwordConfirm.$error.minlength&&addAdministratorForm.passwordConfirm.$dirty">确认密码长度不能小于6位！</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-3 col-sm-offset-1">
        <button type="submit" class="btn btn-primary" ng-disabled="addAdministratorForm.$invalid">提交</button>
      </div>
    </div>
  </form>
</div>
